<% provide(:title, 'Quiz Start') %>

<h1>Lets get you started<h2>

<p>We'll need some basic information to store your quiz results and to contact you about next steps</p>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_for @user, :url => start_url do |f| %>
            <%= render 'shared/error_messages' %>

            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control' %>

            <%= f.label :email %>
            <%= f.email_field :email, class: 'form-control' %>

            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control' %>

            <%= f.label :password_confirmation, "Confirm Password" %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>

            <%= f.submit "Start the Quiz", class: "btn btn-primary" %>
        <% end %>
    </div>
</div>